@code {
    [Parameter]
    public ProjectItem Model { get; set; } = new();
}

<div class="col-md-4">
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">
                @if (!string.IsNullOrEmpty(Model.ProjectUrl))
                {
                    <a href="@Model.ProjectUrl" class="text-decoration-none stretched-link" target="_blank" rel="noopener noreferrer">
                        @Model.Title <i class="bi bi-box-arrow-up-right ms-1 small"></i>
                    </a>
                }
                else
                {
                    @Model.Title
                }
            </h5>
            <p class="card-text text-light">@Model.Description</p>
            <div class="mt-3">
                @foreach (var tech in Model.Technologies)
                {
                    <span class="badge badge-tech">@tech</span>
                }
            </div>
        </div>
    </div>
</div>
